<!DOCTYPE html>
<html>
     <form action="/register" method="post" align="center">
  <label for="fname">Name</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="age">Age:</label><br>
  <input type="text" id="age" name="age"><br><br>
  <label for="dat">Date:</label>
  <input type="date" id="dat" name="dat"><br><br>
  <label for="bp">BP:</label><br>
  <input type="text" id="bp" name="bp"><br><br>
  <label for="pl">PL:</label><br>
  <input type="text" id="pl" name="pl"><br><br>
  <label for="sp">SPO2:</label><br>
  <input type="text" id="sp" name="sp"><br><br>
  <label for="wt">Weight:</label><br>
  <input type="text" id="wt" name="wt"><br><br>
   
  <input type="submit" value="Submit">
</form> 
<head>
    
    <title>Document</title>
</head>
<body>
    
</body>

<style>
    form {
  text-align: center;
}
</style>
</html>