
 <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<div class="container">
    <h1 class="text-center p-5">Glad to see You Harsh</h1>

  
  </div>
  <div class="content">
    
  
  </div>
   <a class="btn btn-outline-warning" href="/table">Lists of Your Girlfriends</a>
   <a class="btn btn-outline-dark" href="/mtable">Want to See Messages Of Your GFs

