<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <div class="container">
        <h1 class="text-center p-3">Login Here</h1>
        <div >
            <form action="/auth" method="POST">
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text"  name="username" id="username" autocomplete="off"
                        placeholder="username">
                </div>
                <div class="mb-3">
                    <label for="password">Enter Your Password</label>
                    <input type="password"  name="password" id="password" autocomplete="off"
                        placeholder="Password">
                </div>
                <div class="d-grid gap-3 mb-3">
                    <input type="submit"  value="Login">
                   
                </div>
                <p>New Here ? <a  href="/reg">Register Now</a> </p>
            </form>
        </div>
    </div>

</body>

</html>